.club-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.exercises-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    background-color: #242b2ef1;
    border-radius: 8px;
    margin: 0px 10px;
}
.info-container{
    background-color: #ffffff;
}

@media only screen and (max-width: 700px) {
    .club-container{
        display: flex;
        flex-direction: column;
    }
    .exercises-container{
        grid-template-columns: repeat(1,1fr);
    }
}